.stock-select-content {
    display: flex;
    justify-content: center;
}

.stock-content {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cart-navigate-overlay {
    position: fixed;
    z-index: 10000000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-navigate-container {
    width: 300px;
    background-color: var(--bg-first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart-navigate-heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0 , 0.1);
    margin-bottom: 20px;
    width: 100%;
}

.cart-navigate-heading {
    font-size: 18px;
    margin: 0;
}

.cart-navcheckout-button {
    background-color: var(--btn-first-color);
    border: none;
    color: var(--font-btn-first-color);
    margin-bottom: 1.5rem;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    width: 85%;
    font-style: italic;
}

.cart-navcheckout-button:hover {
    background-color: var(--btn-first-hover-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.cart-shopback-button {
    background-color: var(--btn-second-color);
    border: none;
    color: var(--font-btn-second-color);
    margin-bottom: 1.5rem;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    width: 85%;
    font-style: italic;
}

.cart-shopback-button:hover {
    background-color: var(--btn-second-hover-color);
    color: var(--font-btn-second-hover-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.selected-stock-image-container {
    margin-bottom: 20px;
}

.selected-item-stock-title {
    margin-bottom: 25px;
    flex-wrap: wrap;
    display: flex;
    user-select: none;
    cursor: default;
}

.selected-title {
    font-size: 1rem;
    white-space: normal;
    font-weight: 1000;
    user-select: none;
    cursor: default;
}

.stock-item-price {
    font-size: 0.8rem;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 12px !important;
    user-select: none;
    cursor: default;
}

.selected-stock-content {
    flex-direction: column;
    display: flex;
}

.selected-stock-item-text {
    font-size: 0.6rem;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 4px !important;
    user-select: none;
    cursor: default;
}

.stock-item-cart-btn {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-first-color);
    border: none;
    color: var(--font-btn-first-color);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.stock-item-cart-btn:hover {
    background-color: var(--btn-first-hover-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.stock-item-cart-btn:active {
    transform: translateY(1px);
}

.stock-item-cart-icon {
    margin-right: 6px;
    display: flex;
}

.stock-item-back-btn {
    width: 100%;
    height: 38px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-second-color);
    border: none;
    color: var(--font-btn-second-color);
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.stock-item-back-btn:hover {
    background-color: var(--btn-second-hover-color);
    color: var(--font-btn-second-hover-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

@media (min-width: 200px) and (max-width: 549px) {
    .stock-content {
        max-width: 95%;
    }

    .featurette-divider.stock {
        margin: 0.1rem 0;
    }

    .selected-stock-ui {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (min-width: 550px) and (max-width: 767px) {
    .stock-content {
        max-width: 540px;
    }

    .featurette-divider.stock {
        margin: 0.3rem 0;
    }

    .selected-stock-ui {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .stock-content {
        max-width: 720px;
    }

    .featurette-divider.stock {
        margin: 0.7rem 0;
    }

    .selected-stock-ui {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .selected-title {
        font-size: 1.4rem;
    }

    .stock-item-price {
        font-size: 1.1rem;
    }

    .selected-stock-item-text {
        font-size: 0.8rem;
    }

    .stock-content {
        max-width: 960px;
    }

    .featurette-divider.stock {
        margin: 1rem 0;
    }

    .selected-stock-ui {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .selected-stock-image-container {
        width: 50%;
        padding-right: 30px;
    }

    .selected-stock-content-container {
        width: 50%;
    }

    .featurette-divider.selected-stock{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        display: block;
    }

    .selected-title {
        margin-bottom: 20px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .selected-title {
        font-size: 1.4rem;
    }

    .stock-item-price {
        font-size: 1.1rem;
    }

    .selected-stock-item-text {
        font-size: 0.8rem;
    }

    .stock-content {
        max-width: 1140px;
    }

    .featurette-divider.stock {
        margin: 1.25rem 0;
    }

    .selected-stock-ui {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .selected-stock-image-container {
        width: 50%;
        padding-right: 30px;
    }

    .selected-stock-content-container {
        width: 50%;
    }

    .featurette-divider.selected-stock{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        display: block;
    }

    .selected-title {
        margin-bottom: 20px;
    }
}

@media (min-width: 1400px) {
    .selected-title {
        font-size: 1.4rem;
    }

    .stock-item-price {
        font-size: 1.1rem;
    }

    .selected-stock-item-text {
        font-size: 0.8rem;
    }

    .stock-content {
        max-width: 1320px;
    }

    .featurette-divider.stock {
        margin: 1.5rem 0;
    }

    .selected-stock-ui {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .selected-stock-image-container {
        width: 50%;
        padding-right: 8%;
    }

    .selected-image {
        max-height: 550px;
    }

    .selected-stock-content-container {
        width: 50%;
    }

    .featurette-divider.selected-stock{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        display: block;
    }

    .selected-title {
        margin-bottom: 20px;
    }
}

@media (min-width: 200px) and (max-width: 928px) {
    .stock-content {
        margin-bottom: 35px;
    }
}

.unavailable-item-view {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unavailable-item-view label {
    font-weight: bold;
}