.forgot-form {
    width: 90%;
    max-width: 300px;
    padding-top: 56px;
}

.forgot-title {
    font-size: 24px;
    line-height: 22px;
}

.forgot_button {
    background-color: var(--btn-first-color);
    border: none;
    color: white;
    margin-bottom: 1.5rem;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.forgot_button:hover {
    background-color: var(--btn-first-hover-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.forgot_button:active {
    transform: translateY(1px);
}

@media (min-width: 700px) {
    .forgot-form {
        max-width: 570px;
    }
}