
.carousel-nav-btn {
  width: auto !important;
}

.carousel-nav-btn>.carousel-nav-icon {
  width: 4rem !important;
  height: 4rem !important;
}

.animation-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ads-content {
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: yellow;
  bottom: 0;
  text-wrap: nowrap;
  animation: walkAcross 30s linear infinite;
  user-select: none;
}

@keyframes walkAcross {
  0% {
      transform: translateX(100vw);
  }

  70% {
      transform: translateX(-100vw);
  }

  100% {
    transform: translateX(-200vw);
}
}

.animation-ads-container {
  height: 50px;
  z-index: 5;
  width: 100vw;
  background-color: rgb(255, 0, 0);
  margin-bottom: 4rem;
}

.shopCategories {
  padding-bottom: 50px;
  padding-top: 100px;
}

.shopCategoriesBoxes {
  margin-bottom: 20px;
}

.rr--hf-svg-on {
  fill: #ffb23f;
  stroke: #e17b21;
}

.rr--hf-svg-off {
  fill: rgba(255, 255, 255, 0);
  stroke: #eda76a;
}

defs>linearGradient {
  fill: #ffb23f;
  stroke: #e17b21;
}

@media (min-width: 100px) and (max-width: 699px) {
  .carousel-item {
    height: 200px !important;
  }

  .browseCategoriesBox {
    width: 70vw !important;
  }
}

@media (min-width: 700px) and (max-width: 1199px) {
  .carousel-item {
    height: 350px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1799px) {
  .carousel-item {
    height: 420px !important;
  }
}

@media (min-width: 1800px) and (max-width: 1999px) {
  .carousel-item {
    height: 490px !important;
  }
}

@media (min-width: 2000px) {
  .carousel-item {
    height: 700px !important;
  }
}

@media (min-width: 750px) and (max-width: 767px) {
  .shopCategoriesBoxes {
    width: 50%;
  }
}

@media (min-width: 200px) and (max-width: 749px) {
  .shopCategoriesItem {
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 10%;
    padding-right: 10%;
  }

  .shopCategoriesBoxes {
    width: 70%;
  }
}

@media (min-width: 990px) {
  .shopCategoriesBoxes {
    width: 20% !important;
  }
}


.browseCategories {
  background-color: rgb(252, 243, 218);
  padding-top: 30px;
  padding-bottom: 50px;
  max-width: 100vw;
}

.browseCategories.second {
  background-color: rgb(255, 236, 185);
}

.browseCategoriesListContainer {
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
}

.browseLeft {
  position: absolute;
  left: 20px;
  top: 0;
}

.browseRight {
  position: absolute;
  right: 20px;
  top: 0;
}

.browseCategoriesList {
  overflow: auto;
  cursor: grab;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.browseCategoriesTab {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
}

.browseCategoriesTab>h3 {
  font-size: 14px;
  user-select: none;
  margin: 0;
}

.tab-selected>h3 {
  font-weight: bold;
  font-size: 13px;
}

defs + g {
  fill: none;
}

.rating-class.read {
  margin-left: 6px;
  width: auto;
  padding: 0;
}

.rating-class.read>.rr--box {
  margin-right: 6px;
  min-width: 20px;
  cursor: default;
}

.browseCategoriesBoxesContainer {
  position: relative;
  width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem;
}

.browseCategoriesBoxes {
  max-width: 100vw;
}

.browseCategoriesBox {
  z-index: 1;
  cursor: pointer;
}

.boxScrollButtonContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(100vw - 2.2rem);
}

.boxScrollButton {
  height: 100%;
  width: 100%;
  position: relative;
}

.pl-4 {
  padding-left: 4px;
}

.pr-4 {
  padding-right: 4px;
}

.browseBoxLeft {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  z-index: 2;
  background-color: rgba(250, 235, 215, 0.2);
  visibility: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.browseBoxLeft > * {
  display: inline-block;
}

.browseBoxRight {
  position: absolute;
  right: 0;
  top: 50%;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: auto;
  z-index: 2;
  background-color: rgba(250, 235, 215, 0.2);
  visibility: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.browseBoxRight > * {
  display: inline-block;
}

.browseCategoriesBoxes:hover .browseBoxLeft,
.browseCategoriesBoxes:hover .browseBoxRight {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s linear 0s;
  cursor: default;
}

.home-rate {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.home-rate-container {
  display: flex;
  height: 150px;
  min-width: 320px;
  width: 70%;
  max-width: 700px;
}

.home-rate-rating {
  width: 136px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home-rate-ave {
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-size: 55px;
  cursor: default;
  user-select: none;
}

.home-rate-num {
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-size: 10px;
  cursor: default;
  user-select: none;
}

.home-rate-sum {
  display: flex;
  width: calc(100% - 136px);
  flex-direction: column;
  height: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.home-rate-sum > * {
  flex: 1;
}

.home-rate-sum-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.home-rate-star-label {
  display: inline-flex;
  height: 20px;
  width: 15px;
  margin-right: 5px;
  line-height: 18px;
  font-size: 10px;
  user-select: none;
  cursor: default;
}

.home-rate-outer-bar {
  height: 20px;
  background-color: #ffebb2;
  width: calc(100% - 20px);
  border: 2px solid #FF7700;
  position: relative;
}

.home-rate-inner-bar {
  z-index: 1;
  background-color: #FFA600;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.tooltip {
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
  transition: opacity 0.3s;
  user-select: none;
}

.home-rate-inner-bar:hover .tooltip,
.home-rate-inner-bar:focus .tooltip {
  visibility: visible;
  opacity: 1;
}