.item-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item-filter {
    margin-bottom: 20px;
}

.item-filter-button {
    height: 20px;
    display: inline-flex;
    cursor: pointer;
}

.item-filter-icon {
    height: 100%;
    font-size: 16px;
}

.item-filter-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    background-color: rgb(255, 255, 255);
    z-index: 9000002;
    transform: translateX(-100%);
    padding: 15px;
}

.item-filter-title {
    width: 100%;
    font-size: 15px;
    position: relative;
}

.item-filter-close-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.item-filter-box-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9000001;
    transform: translateX(200%);
}

.item-filter-box-show {
    animation: SlideFilterIn 1s 1 forwards;
}

@keyframes SlideFilterIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.item-filter-box-hide {
    animation: SlideFilterOut 0.3s 1 forwards;
}

@keyframes SlideFilterOut {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.item-filter-box-overlay-show {
    transform: translateX(0);
}

.item-filter-button>label {
    height: 100%;
    margin-left: 5px;
    line-height: 18px;
    font-size: 16px;
    cursor: pointer;
}

.item-filter-button>label:hover {
    color: rgb(80, 80, 80);
}

.item-box-container {
    cursor: pointer;
}

.item-image {
    width: 100%;
    aspect-ratio: 1;
}

.item-heading {
    font-weight: bold;
}

@media (min-width: 1400px) {
    .item-filter-box {
        width: 25%;
    }

    .item-filter {
        padding-left: 20px;
    }

    .item-container {
        padding: 40px;
    }

    .item-image {
        aspect-ratio: 1.2;
    }

    .item-box-container {
        padding: 20px;
    }

    .item-heading {
        font-size: 20px;
    }

    .item-content {
        font-size: 17px;
    }
}

@media (min-width: 1200px) and (max-width:1399px) {
    .item-filter-box {
        width: 35%;
        max-width: 500px;
    }

    .item-filter {
        padding-left: 18px;
    }

    .item-container {
        padding: 35px;
    }

    .item-box-container {
        padding: 18px;
    }

    .item-heading {
        font-size: 17px;
    }

    .item-content {
        font-size: 14px;
    }
}

@media (min-width: 950px) and (max-width:1199px) {
    .item-filter-box {
        width: 45%;
        max-width: 450px;
    }

    .item-filter {
        padding-left: 15px;
    }

    .item-container {
        padding: 30px;
    }

    .item-box-container {
        padding: 15px;
    }

    .item-heading {
        font-size: 15px;
    }

    .item-content {
        font-size: 12px;
    }
}

@media (min-width: 650px) and (max-width:949px) {
    .item-filter-box {
        width: 60%;
        max-width: 400px;
    }

    .item-filter {
        padding-left: 13px;
    }

    .item-container {
        padding: 25px;
    }

    .item-box-container {
        padding: 13px;
    }

    .item-heading {
        font-size: 14px;
    }

    .item-content {
        font-size: 11px;
    }
}

@media (max-width:649px) {
    .item-filter-box {
        width: 100%;
        max-width: 320px;
    }

    .item-filter {
        padding-left: 8px;
    }

    .item-container {
        padding: 20px;
    }

    .item-box-container {
        padding: 8px;
    }

    .item-heading {
        font-size: 12px;
    }

    .item-content {
        font-size: 9px;
    }
}