.myorder-container {
    padding: 40px 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.myorder-content {
    background-color: var(--bg-secondary-catagorybox);
    width: 100%;
    max-width: 1000px;
    padding: 24px 20px;
    border-radius: 5px;
}

.myorder-item-content-container {
    max-height: 1000px;
}

.myorder-item-container {
    width: 100%;
    padding: 20px 25px;
    position: relative;
    margin-bottom: 60px;
}

.myorder-item-container:after {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 10px;
    left: 10px;
    content: '';
    border: 1px solid rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.myorder-item-heading {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.myorder-item-heading h2 {
    font-size: 26px;
    margin: 0;
    margin-right: 10px;
}

.myorder-view-btn {
    background-color: var(--btn-first-color);
    color: var(--font-btn-first-color);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.myorder-view-btn:hover {
    background-color: var(--btn-first-hover-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.myorder-view-btn:active {
    transform: translateY(1px);
}

.myorder-title {
    color: var(--font-primary-heading);
    font-size: 40px;
    text-align: flex-start;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-bottom: 48px;
}

.myorder-table-data {
    padding: 15px 10px;
}

.myorder-table-btn {
    background-color: var(--btn-second-color);
    font-weight: bold;
    color: var(--font-btn-second-color);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.myorder-table-btn:hover,
.myorder-table-btn:active {
    background-color: var(--btn-second-hover-color);
    color: var(--font-btn-second-hover-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.myorder-item-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    font-size: 24px;
}

.myorder-item-bottom.view {
    margin-bottom: 250px; /* here dynamic */
}

.myorder-item-details {
    position: absolute;
    right: 10px;
    left: 10px;
    bottom: 5px;
    height: 250px;
    padding: 15px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.myorder-item-details-container {
    width: 100%;
    height: 93%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.myorder-item-details-image {
    height: 90%;
    aspect-ratio: 1;
    margin-right: 40px;
}

.myorder-item-details-description {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.nav-tabs-container.myorder-approved {
    padding: 25px;
    padding-top: 30px;
}