.profile-form {
    width: 90%;
    max-width: 300px;
    padding-top: 56px;
}

.disabled-input {
    color: #aaa;
    cursor: not-allowed;
    border: 1px solid #ccc;
}

.profile-update-button {
    background-color: var(--btn-first-color);
    border: none;
    color: white;
    margin-bottom: 1.5rem;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.profile-update-button:hover {
    background-color: var(--btn-first-hover-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.profile-back-button {
    background-color: var(--btn-second-color);
    border: none;
    color: rgb(0, 0, 0);
    margin-bottom: 1.5rem;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.profile-back-button:hover {
    background-color: var(--btn-second-hover-color);
    color: rgb(201, 201, 201);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

@media (min-width: 700px) {
    .profile-form {
        max-width: 570px;
    }
}