.register_form {
    width: 90%;
    max-width: 300px;
    padding-top: 56px;
}

.register-title {
    font-size: 30px;
    line-height: 22px;
}

.register-text {
    font-size: 12px;
    margin-bottom: 2.5rem !important;
}

.password-input {
    position: relative;
}

.password-input>input {
    padding-right: 30px;
}

.password-view {
    position: absolute;
    top: 12px;
    right: 10px;
    display: inline-flex;
    cursor: pointer;
}

.register_button {
    background-color: var(--btn-first-color);
    border: none;
    color: var(--font-btn-first-color);
    margin-top: 1.5rem;
    margin-bottom: 6.5rem;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.register_button:hover {
    background-color: var(--btn-first-hover-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.register_button:active {
    transform: translateY(1px);
}

.back-login-arrow {
    font-size: 23px;
    cursor: pointer;
}

.register-otp-container {
    position: relative;
}

.register-request-button {
    position: absolute;
    top: 8px;
    bottom: calc(1rem + 8px);
    right: 10px;
    background-color: var(--btn-first-color);
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--font-btn-first-color);
}

.register-request-button:hover {
    background-color: var(--btn-first-hover-color);
}

@media (min-width: 700px) {
    .register_form {
        max-width: 570px;
    }

    .back-login-arrow {
        font-size: 26px;
    }

    .register-title {
        line-height: 20px;
    }
}