.sidebar-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9500000;
}

.sidebar-content {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.sidebar-search-list {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-color: var(--bg-first-color);
    min-height: 56px;
    max-height: 400px;
    animation: SlideIn 1s 1;
    display: flex;
    justify-content: center;
}

@media (min-height: 0px) and (max-height:450px) {
    .sidebar-search-list {
        max-height: 95vh !important;
    }
}

@keyframes SlideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    30% {
        transform: translateY(30px);
    }

    50% {
        transform: translateY(0);
    }

    70% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.sidebar-search-list.close {
    animation: SlideOut 0.5s 1;
}

@keyframes SlideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.sidebar-search-list-content {
    width: 80%;
    padding-top: 10px;
    margin-bottom: 20px;
}

.sidebar-search-input-container {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 16px;
}

.sidebar-search-input {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    height: 30px;
    border: none;
    outline: none;
    box-shadow: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    transition: transform 0.2s ease;
    background-color: transparent;
}

.sidebar-search-icon-btn {
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 16px;
    transform: translateY(-50%);
    cursor: pointer;
}

.sidebar-search-icon-btn:hover {
    animation: wiggle 4s ease infinite;
}

@keyframes wiggle {
    0% {
        transform: translate(0, -50%);
    }

    20% {
        transform: translate(-3px, -60%);
    }

    40% {
        transform: translate(6px, -65%);
    }

    60% {
        transform: translate(0, -50%);
    }

    80% {
        transform: translate(-1px, -20%);
    }

    100% {
        transform: translate(0, -50%);
    }
}

.sidebar-search-clear-btn {
    position: absolute;
    right: 50px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.sidebar-search-clear-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(255, 0, 0);
}

.sidebar-search-clear-icon {
    font-size: 16px;
}

.sidebar-search-close-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform 0.5s ease;
}

.sidebar-search-close-btn:hover {
    animation: rotate 0.5s ease forwards;
}

.sidebar-search-result-container {
    max-height: calc(100% - 56px);
    overflow: auto;
    scrollbar-width: none;
}

.sidebar-search-result-container::-webkit-scrollbar {
    display: none;
}

.sidebar-search-title {
    width: calc(100%);
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    user-select: none;
}

.sidebar-search-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    opacity: 0.1;
}

.sidebar-search-result {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.sidebar-search-result:hover {
    color: var(--font-primary-body-hover);
}

.sidebar-cart-list {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: var(--bg-first-color);
    width: 80%;
    min-width: 315px;
    max-width: 700px;
    animation: SlideOnCart 0.5s 1;
}

@media (min-width: 750px) {
    .sidebar-cart-image-container {
        width: 25% !important;
    }

    .sidebar-cart-details-container {
        width: 75% !important;
    }
}

@media (min-width: 810px) {
    .sidebar-cart-image-container {
        width: 20% !important;
    }

    .sidebar-cart-details-container {
        width: 80% !important;
    }
}

@keyframes SlideOnCart {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.sidebar-cart-list.close {
    animation: SlideOffCart 0.5s 1;
}

@keyframes SlideOffCart {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.sidebar-cart-remark-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-cart-remark-container {
    min-width: 300px;
    width: 50%;
    max-height: 80vh;
    background-color: var(--bg-first-color);
    border-radius: 8px;
}

.sidebar-cart-remark-heading-container {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sidebar-cart-remark-heading-container h4 {
    margin: 0;
    font-size: 20px !important;
}

.sidebar-cart-remark-close-btn {
    position: absolute;
    font-size: 24px;
    right: 10px;
    padding: 3px;
    cursor: pointer;
}

.sidebar-cart-remark-content {
    height: auto;
    max-height: calc(80vh - 50px - 50px);
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.cart-remark-checkbox {
    height: 16px !important;
    width: 16px !important;
    margin-right: 5px;
}

.cart-remark-checkbox:checked::before {
    content: '\2713';
    position: absolute;
    left: 2px;
    top: 0;
    color: white;
    font-size: 12px !important;
}

.cart-remark-change-size {
    font-size: 13px;
}

.sidebar-cart-remark-addminus-container {
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    margin-bottom: 10px;
}

.sidebar-cart-remark-addminus-container span {
    font-size: 13px;
    font-weight: bold;
}

.sidebar-cart-remark-radio-container {
    font-size: 13px;
    margin-right: 20px;
}

.sidebar-cart-remark-radio-container input {
    margin-right: 5px;
    margin-top: 10px;
}

.sidebar-cart-remark-content>.feedback_input {
    font-size: 14px;
}

.sidebar-cart-remark-content textarea {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: 14px;
    min-height: 100px;
}

.sidebar-cart-addminus-input {
    font-size: 12px;
    padding-bottom: 3px;
    padding-left: 5px;
}

.remark-save-button {
    background-color: var(--btn-first-color);
    border: none;
    color: var(--font-btn-first-color);
    margin: 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.remark-save-button:hover {
    background-color: var(--btn-first-hover-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.remark-save-button:active {
    transform: translateY(1px);
}

.sidebar-cart-list-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.sidebar-cart-heading {
    width: calc(100% - 30px);
    margin: 10px 15px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.sidebar-cart-heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.sidebar-cart-header {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
}

.sidebar-close-icon {
    cursor: pointer;
    position: absolute;
    right: 0;
}

.sidebar-cart-boxes {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.sidebar-cart-box {
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 90%;
    margin-bottom: 15px;
    max-height: auto;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.sidebar-cart-box.selected {
    background-color: var(--bg-primary-catagorybox);
}

.sidebar-cart-image-container {
    width: 35%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-cart-image {
    aspect-ratio: 1;
    width: 100%;
    ;
}

.sidebar-cart-details-container {
    width: 65%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    min-height: 0;
    height: auto;
}

.sidebar-cart-box-heading {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.sidebar-cart-box-content {
    font-size: 11px;
}

.sidebar-cart-box-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-cart-box-bottom button {
    margin: 10px;
    margin-left: 0;
    margin-right: calc(50% - 80px);
    width: 80px;
    font-size: 10px;
    padding-bottom: 2px;
    background-color: rgb(169, 216, 255);
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: not-allowed;
}

.sidebar-cart-box-bottom.selected button {
    background-color: rgb(98, 185, 255);
    cursor: pointer;
}

.sidebar-cart-box-bottom p {
    width: 50%;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    text-shadow: 2px 2px 4px #00000080;
    font-weight: bold;
}

@media (min-width: 0) {
    .sidebar-cart-boxes-container {
        height: calc(100vh - 32px - 35px - 90px);
    }

    .sidebar-total-panel-container {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6px 15px;
    }

    .sidebar-cart-total-details-container {
        display: flex;
        width: 100%;
        height: 45px;
        justify-content: flex-start;
        align-items: center;
    }

    .sidebar-cart-total-text {
        font-size: 20px;
        font-weight: bold;
        margin-right: 10px;
    }

    .sidebar-cart-details {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: baseline;
    }

    .sidebar-cart-total-selected {
        font-size: 12px;
        margin-right: 8px;
    }

    .sidebar-cart-total-price {
        font-size: 18px;
        font-weight: bold;
    }

    .sidebar-cart-total-btn-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        height: 39px;
    }

    .sidebar-cart-remove-btn {
        height: 80%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 8px;
        padding-right: 8px;
        margin-right: 10px;
    }

    .sidebar-cart-remove-btn:hover {
        background-color: rgba(0, 0, 0, 0.2);
        color: rgb(255, 0, 0);
    }

    .sidebar-cart-remove-icon {
        font-size: 16px;
    }

    .sidebar-cart-checkout-btn {
        background-color: var(--btn-first-color);
        border: none;
        color: var(--font-btn-first-color);
        padding: 5px 10px;
        flex: 1;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
        font-weight: bold;
        font-size: 14px;
    }

    .sidebar-cart-checkout-btn:hover {
        background-color: var(--btn-first-hover-color);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px);
    }

    .sidebar-cart-checkout-btn:active {
        transform: translateY(1px);
    }
}

@keyframes rotate {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}