.content-site{
  background-color: rgba(191, 191, 191, 0.35);
}

body {
  padding-top: 3rem;
  padding-bottom: 0 !important;
  color: rgb(var(--bs-tertiary-color-rgb));
}

p{
  margin-bottom: 0 !important;
}

.input-group{
  margin-bottom: 20px;
}

.carousel {
  margin-bottom: 0 !important;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

@media (min-width: 2000px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1920px !important;
  }
}

@media (min-width: 2500px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 2350px !important;
  }
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}