@import '~bootstrap';


/* Theme Settings */
:root {
    /* Background Color*/
    --bg-first-color: rgb(253, 249, 242);
    --bg-first-hover-color: rgb(209, 205, 197);
    --btn-first-color: rgb(0, 0, 0);
    --btn-first-hover-color: rgb(56, 56, 56);
    --btn-second-color: rgb(255, 255, 255);
    --btn-second-hover-color: rgb(94, 94, 94);
    --btn-third-color: rgb(61, 61, 61);
    --btn-third-hover-color: rgb(143, 143, 143);
    --accordion-color: rgb(247, 247, 247);
    --accordion-open-color: rgb(0, 123, 255);
    --accordion-content-color: rgb(249, 249, 249);
    --header-bg-color: rgb(255, 242, 219);
    --header-dropdown-bg-color: rgb(255, 242, 219);
    --footer-bg-color: rgb(255, 207, 119);
    --ads-bg-color: rgb(255, 0, 0);
    --bg-primary-catagorybox: rgb(252, 243, 218);
    --bg-secondary-catagorybox: rgb(255, 236, 185);
    --switch-off-btn: rgb(242, 242, 242);
    --switch-on-btn: rgb(99, 99, 99);
    --switch-btn-circle: rgb(233, 233, 233);
    --slider-fill-bg: rgb(124, 124, 124);
    --slider-unfill-bg: rgb(206, 212, 218);
    --comment-btn-color: rgb(255, 183, 49);
    --comment-bg-color: rgb(255, 236, 201);

    /* Color */
    --font-primary-heading: rgb(0, 0, 0);
    --font-primary-body: rgb(0, 0, 0);
    --font-primary-body-hover: rgb(99, 99, 99);
    --font-btn-first-color: rgb(255, 255, 255);
    --font-btn-first-hover-color: rgb(56, 56, 56);
    --font-btn-second-color: rgb(0, 0, 0);
    --font-btn-second-hover-color: rgb(201, 201, 201);
    --font-accordion-open-color: rgb(255, 255, 255);
    --font-accordion-body-color: rgb(85, 85, 85);
    --font-ads-color: rgb(255, 255, 100);
    --font-shop-details: rgb(255, 200, 47);
    --font-shop-details-hover: rgb(255, 222, 130);

    /* Fonts */
    --primary-font: Verdana, Geneva, Tahoma, sans-serif;
    --secondary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.z-first {
    z-index: 1000000000000;
}

.hide {
    display: none !important;
}

.select-none {
    user-select: none;
}

.cursor-pointer {
    cursor: pointer;
}

.fs-7 {
    font-size: 14px;
}

.fs-8 {
    font-size: 12px;
}

.content-container {
    min-height: calc(100vh - 600px - 56px);
    background-color: var(--bg-first-color);
}

.nofooter-content-container {
    height: calc(100vh - 56px);
    max-height: auto;
    background-color: var(--bg-first-color);
}

.comment-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--comment-btn-color);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 25px;
    border-radius: 45px;
}

@media (min-width: 700px) {
    .content-container {
        min-height: calc(100vh - 300px - 56px);
    }
}

.font-custom {
    font-family: var(--primary-font);
}

.font-custom-2 {
    font-family: var(--secondary-font);
}

html,
body {
    overflow: auto;
}

[id=root] {
    min-height: calc(100vh - 66px) !important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

html {
    min-height: 100vh;
    scrollbar-width: none;
    position: relative;
}

body {
    min-height: 100vh;
    -ms-overflow-style: none;
}

button {
    background: transparent;
    border: none;
}

.all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-scroll-container {
    overflow: hidden;
    overflow: scroll;
}

.hide-scroll-container::-webkit-scrollbar {
    display: none;
}

.hide-scroll-container {
    scrollbar-width: none;
}

.hide-scroll-container {
    -ms-overflow-style: none;
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.underline:hover::after {
    animation: underlineAnimation 0.3s forwards;
}

@keyframes underlineAnimation {
    0% {
        width: 0;
        left: 50%;
    }

    100% {
        width: 100%;
        left: 0;
    }
}

u {
    cursor: pointer;
}

@media (min-width: 1700px) {
    .col-xxxl-2 {
        width: 16.67% !important;
        flex: 0 0 auto;
    }
}

@media (max-width: 575px) {
    .col-xs-1 {
        flex: 0 0 auto !important;
        width: 8.333333% !important;
    }

    .col-xs-2 {
        flex: 0 0 auto !important;
        width: 16.666667% !important;
    }

    .col-xs-3 {
        flex: 0 0 auto !important;
        width: 25% !important;
    }

    .col-xs-4 {
        flex: 0 0 auto !important;
        width: 33.333333% !important;
    }

    .col-xs-5 {
        flex: 0 0 auto !important;
        width: 41.666667% !important;
    }

    .col-xs-6 {
        flex: 0 0 auto !important;
        width: 50% !important;
    }

    .col-xs-7 {
        flex: 0 0 auto !important;
        width: 58.333333% !important;
    }

    .col-xs-8 {
        flex: 0 0 auto !important;
        width: 66.666667% !important;
    }

    .col-xs-9 {
        flex: 0 0 auto !important;
        width: 75% !important;
    }

    .col-xs-10 {
        flex: 0 0 auto !important;
        width: 83.333333% !important;
    }

    .col-xs-11 {
        flex: 0 0 auto !important;
        width: 91.666667% !important;
    }

    .col-xs-12 {
        flex: 0 0 auto !important;
        width: 100% !important;
    }
}

@media (min-width: 950px) and (max-width: 1199px){
    .col-md-3-replace {
        width: 33.3333333333333333333% !important;
        flex: 0 0 auto;
    }
}

@media (min-width: 1400px) {
    .col-xxl-2-4 {
        flex: 0 0 auto;
        width: 20%;
    }
}
