@import '~bootstrap';

.z-first {
    z-index: 1000000000000;
}

.content-container {
    min-height: calc(100vh - 640px - 56px);
    background-color: rgb(253, 249, 242);
}

@media (min-width: 700px) {
    .content-container {
        min-height: calc(100vh - 465px - 56px);
    }
}

.font-custom {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.font-custom-2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html, body {
    overflow: auto;
}

[id=root] {
    min-height: calc(100vh - 66px) !important;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

html {
    min-height: 100vh;
    scrollbar-width: none;
    position: relative;
}

body {
    min-height: 100vh;
    -ms-overflow-style: none;
}
button {
    background: transparent;
    border: none;
}

.all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-scroll-container {
    overflow: hidden;
    overflow: scroll;
}

.hide-scroll-container::-webkit-scrollbar {
    display: none;
}

.hide-scroll-container {
    scrollbar-width: none;
}

.hide-scroll-container {
    -ms-overflow-style: none;
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.underline:hover::after {
    animation: underlineAnimation 0.3s forwards;
}

@keyframes underlineAnimation {
    0% {
        width: 0;
        left: 50%;
    }
    100% {
        width: 100%;
        left: 0;
    }
}