.carousel-container {
    width: 100%;
    height: 100%;
    margin: 0;
}

.owl-stage {
    display: flex;
}

.owl-carousel {
    height: calc(100% - 35.5px) !important;
}

.owl-stage-outer, .owl-stage, .owl-carousel .item {
    height: 100% !important;
}

.owl-carousel .item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    border-radius: 5px;
}

.owl-item .item img {
    width: 100%;
    height: 100%;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    font-size: 30px;
}